@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

p {
  text-align: center;
  font-family: "Pacifico", sans-serif;
}

main {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  /* width: 640px;
  height: 640px; */
}
